M14. XML Technologies/Samples/LINQPad/XML Technologies/LINQ2XML/Дополнительные возможности LINQ to XML/employees.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="Employees"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" name="Employee"><xs:complexType><xs:sequence><xs:element name="FirstName" type="xs:string" /><xs:element name="LastName" type="xs:string" /></xs:sequence><xs:attribute name="type" type="xs:string" use="required" /></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>